.gt3__blog{
    display: flex;
    flex-direction: column;
}

.gt3__blog-heading{
    width: 100%;
    text-align: left;
    margin-bottom: 10rem;
}
.gt3__blog-heading h1{
    font-family:var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 62px;
    line-height: 70px;
    letter-spacing: -0.04em;
}

.gpt3__blog-container{
    display: flex;
    flex-direction: row;
}

.gpt3__blog-container-groupA{
    
    margin-right: 2rem;
    
    
}
.gpt3__blog-container-groupB{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
    .gpt3__blog-container{
        flex-direction: column-reverse;
    }

    .gpt3__blog-container-groupA{
        margin:2rem,0.5rem;
        width: 310px;
        
    }

    .gpt3__blog-container-groupA .gpt3__blog-container_article{
        width: 300px;
    }
    .gpt3__blog-container-groupA .gpt3__blog-container_article-image{
        height: 250px;
        

    }
    .gpt3__blog-container-groupB{
        width: 115%;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__blog-container{
        width: 150%;
    }
    .gpt3__blog-container-groupB{
        grid-template-columns: repeat(1, 1fr);
    }
    .gpt3__blog-container-groupA .gpt3__blog-container_article{
        width: 100%;
    }
    .gt3__blog-heading h1{
        font-size: 46px;
        line-height: 50px;
    }
}


@media screen and(max-width:500px) {
    .gt3__blog-heading h1{
        font-size: 30px;
        line-height: 40px;
    }
    .gpt3__blog-container{
        margin: 0;
    }
    
    
}



